### Print Numbers from 0 to 100 (as integers) Without Using Any Numbers in your Code

In [1]:
import string

In [2]:
num_alpha = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]

print(num_alpha)

In [3]:
print(string.digits)
print(type(string.digits))

In [4]:
dict_num = {num_alpha[i] : n for i, n in enumerate(string.digits)}
    
print(dict_num)

{'zero': '0', 'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5', 'six': '6', 'seven': '7', 'eight': '8', 'nine': '9'}

In [5]:
one_o_one = dict_num['one'] + dict_num['zero'] + dict_num['one']

print(one_o_one)
print(type(one_o_one))

101
<class 'str'>

In [6]:
for n in range(int(one_o_one)):
    print(n, '\t', type(n))

0 	 <class 'int'>
1 	 <class 'int'>
2 	 <class 'int'>
3 	 <class 'int'>
4 	 <class 'int'>
5 	 <class 'int'>
6 	 <class 'int'>
7 	 <class 'int'>
8 	 <class 'int'>
9 	 <class 'int'>
10 	 <class 'int'>
11 	 <class 'int'>
12 	 <class 'int'>
13 	 <class 'int'>
14 	 <class 'int'>
15 	 <class 'int'>
16 	 <class 'int'>
17 	 <class 'int'>
18 	 <class 'int'>
19 	 <class 'int'>
20 	 <class 'int'>
21 	 <class 'int'>
22 	 <class 'int'>
23 	 <class 'int'>
24 	 <class 'int'>
25 	 <class 'int'>
26 	 <class 'int'>
27 	 <class 'int'>
28 	 <class 'int'>
29 	 <class 'int'>
30 	 <class 'int'>
31 	 <class 'int'>
32 	 <class 'int'>
33 	 <class 'int'>
34 	 <class 'int'>
35 	 <class 'int'>
36 	 <class 'int'>
37 	 <class 'int'>
38 	 <class 'int'>
39 	 <class 'int'>
40 	 <class 'int'>
41 	 <class 'int'>
42 	 <class 'int'>
43 	 <class 'int'>
44 	 <class 'int'>
45 	 <class 'int'>
46 	 <class 'int'>
47 	 <class 'int'>
48 	 <class 'int'>
49 	 <class 'int'>
50 	 <class 'int'>
51 	 <class 'int'>
52 	 <class 'int'>
53 	 <class 'int'>
54 	 <class 'int'>
55 	 <class 'int'>
56 	 <class 'int'>
57 	 <class 'int'>
58 	 <class 'int'>
59 	 <class 'int'>
60 	 <class 'int'>
61 	 <class 'int'>
62 	 <class 'int'>
63 	 <class 'int'>
64 	 <class 'int'>
65 	 <class 'int'>
66 	 <class 'int'>
67 	 <class 'int'>
68 	 <class 'int'>
69 	 <class 'int'>
70 	 <class 'int'>
71 	 <class 'int'>
72 	 <class 'int'>
73 	 <class 'int'>
74 	 <class 'int'>
75 	 <class 'int'>
76 	 <class 'int'>
77 	 <class 'int'>
78 	 <class 'int'>
79 	 <class 'int'>
80 	 <class 'int'>
81 	 <class 'int'>
82 	 <class 'int'>
83 	 <class 'int'>
84 	 <class 'int'>
85 	 <class 'int'>
86 	 <class 'int'>
87 	 <class 'int'>
88 	 <class 'int'>
89 	 <class 'int'>
90 	 <class 'int'>
91 	 <class 'int'>
92 	 <class 'int'>
93 	 <class 'int'>
94 	 <class 'int'>
95 	 <class 'int'>
96 	 <class 'int'>
97 	 <class 'int'>
98 	 <class 'int'>
99 	 <class 'int'>
100 	 <class 'int'>